In [47]:
import pandas as pd
import numpy as np

from mcda.mcda_run import main
from mcda.utils import *
from mcda.configuration.config import Config
from mcda.utility_functions.normalization import Normalization
from mcda.utility_functions.aggregation import Aggregation

#### test with test df - uncomment

In [48]:
#polarities = ("+","-")

In [49]:
#d = {'col1': [1, 2, 3], 'col3': [100, 200, 300]}
#df = pd.DataFrame(data=d)
#df
#input_matrix = df

#### test with test example - uncomment

In [50]:
input_matrix = read_matrix("/Users/flaminia/Documents/work/MCDA/Examples/exp2_12_alternatives.csv")

/Users/flaminia/Documents/work/MCDTool/mcda/utils.py:15: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test = pd.read_csv(fp, sep="[,;:]", decimal='.')

In [51]:
imd = input_matrix.drop(input_matrix.columns[0],axis=1)

In [52]:
imd

,productivity,timber amount,carbon storage,species suitability,biodiversity,disturbances,management cost,groundwater
0,6.577442,24.845319,107.507196,0.513059,1.0,2.0,3.0,160.369958
1,15.647698,224.026542,161.416472,0.547062,1.0,2.0,2.0,196.771264
2,8.996213,344.345764,176.419571,0.482547,1.0,3.0,2.0,187.386841
3,1.230521,4.449005,92.552234,0.284040,1.0,2.0,2.0,198.299185
4,6.401796,78.050900,112.400141,0.257698,1.0,3.0,2.0,232.192324
5,0.441739,27.352069,70.878167,0.081499,1.0,3.0,2.0,211.697313
6,6.887074,47.462850,135.163343,0.727717,2.0,2.0,2.0,164.526126
7,6.674862,88.165705,156.165010,0.764464,2.0,2.0,3.0,201.613557
8,6.424836,201.104286,195.273454,0.810312,2.0,1.0,3.0,193.085790
9,5.651242,36.031582,127.834005,0.492912,2.0,1.0,2.0,199.637435
10,5.530561,73.224497,153.420168,0.592582,2.0,1.0,3.0,243.474259
11,4.251047,144.024717,176.895874,0.353498,2.0,1.0,3.0,210.885887

In [53]:
polarities = ("+","+","+","+","+","-","-","+")

In [54]:
weights = (0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833)

## test normalization functions

In [55]:
norm = Normalization(imd, polarities)

In [56]:
scaled_minmax_01 = norm.minmax(feature_range=(0, 1))
scaled_minmax_01

           0         1         2         3    4    5    6         7
0   0.403506  0.060007  0.294457  0.592141  0.0  0.5  0.0  0.000000
1   1.000000  0.646012  0.727827  0.638796  0.0  0.5  1.0  0.438020
2   0.562574  1.000000  0.848436  0.550275  0.0  0.0  1.0  0.325096
3   0.051873  0.000000  0.174235  0.277905  0.0  0.5  1.0  0.456405
4   0.391955  0.216542  0.333791  0.241762  0.0  0.0  1.0  0.864244
5   0.000000  0.067382  0.000000  0.000000  0.0  0.0  1.0  0.617626
6   0.423869  0.126550  0.516781  0.886672  1.0  0.5  1.0  0.050011
7   0.409913  0.246300  0.685612  0.937092  1.0  0.5  0.0  0.496287
8   0.393471  0.578574  1.000000  1.000000  1.0  1.0  0.0  0.393672
9   0.342596  0.092918  0.457862  0.564497  1.0  1.0  1.0  0.472508
10  0.334660  0.202342  0.663546  0.701255  1.0  1.0  0.0  1.000000
11  0.250514  0.410641  0.852265  0.373209  1.0  1.0  0.0  0.607862

In [57]:
print(scaled_minmax_01.to_numpy().min())
print(scaled_minmax_01.to_numpy().max())

0.0
1.0000000000000002

In [58]:
scaled_minmax_no0 = norm.minmax(feature_range=(0.1, 1))
scaled_minmax_no0

           0         1         2         3    4     5    6         7
0   0.463156  0.154007  0.365011  0.632927  0.1  0.55  0.1  0.100000
1   1.000000  0.681411  0.755045  0.674917  0.1  0.55  1.0  0.494218
2   0.606316  1.000000  0.863592  0.595248  0.1  0.10  1.0  0.392586
3   0.146686  0.100000  0.256812  0.350115  0.1  0.55  1.0  0.510765
4   0.452760  0.294888  0.400412  0.317585  0.1  0.10  1.0  0.877819
5   0.100000  0.160644  0.100000  0.100000  0.1  0.10  1.0  0.655863
6   0.481482  0.213895  0.565103  0.898005  1.0  0.55  1.0  0.145010
7   0.468922  0.321670  0.717050  0.943383  1.0  0.55  0.1  0.546658
8   0.454123  0.620716  1.000000  1.000000  1.0  1.00  0.1  0.454305
9   0.408337  0.183626  0.512076  0.608047  1.0  1.00  1.0  0.525258
10  0.401194  0.282108  0.697191  0.731129  1.0  1.00  0.1  1.000000
11  0.325463  0.469577  0.867038  0.435888  1.0  1.00  0.1  0.647076

In [59]:
print(scaled_minmax_no0.to_numpy().min())
print(scaled_minmax_no0.to_numpy().max())

0.09999999999999998
1.0

In [60]:
scaled_rank = norm.rank()
scaled_rank

       0     1     2     3    4     5    6     7
0    8.0   2.0   3.0   7.0  3.5   6.0  3.0   1.0
1   12.0  11.0   9.0   8.0  3.5   6.0  9.0   5.0
2   11.0  12.0  10.0   5.0  3.5   2.0  9.0   3.0
3    2.0   1.0   2.0   3.0  3.5   6.0  9.0   6.0
4    6.0   7.0   4.0   2.0  3.5   2.0  9.0  11.0
5    1.0   3.0   1.0   1.0  3.5   2.0  9.0  10.0
6   10.0   5.0   6.0  10.0  9.5   6.0  9.0   2.0
7    9.0   8.0   8.0  11.0  9.5   6.0  3.0   8.0
8    7.0  10.0  12.0  12.0  9.5  10.5  3.0   4.0
9    5.0   4.0   5.0   6.0  9.5  10.5  9.0   7.0
10   4.0   6.0   7.0   9.0  9.5  10.5  3.0  12.0
11   3.0   9.0  11.0   4.0  9.5  10.5  3.0   9.0

In [61]:
scaled_stand_any = norm.standardized(feature_range=('-inf','+inf'))
scaled_stand_any

,0,1,2,3,4,5,6,7
0,0.091967,-0.811695,-0.830495,0.094594,-0.957427,-0.105091,-1.132843,-1.664553
1,2.467228,1.138266,0.598990,0.249410,-0.957427,-0.105091,0.809174,-0.135421
2,0.725379,2.316177,0.996819,-0.044327,-0.957427,-1.366187,0.809174,-0.529638
3,-1.308250,-1.011373,-1.227048,-0.948124,-0.957427,-0.105091,0.809174,-0.071237
4,0.045970,-0.290819,-0.700751,-1.068059,-0.957427,-1.366187,0.809174,1.352532
5,-1.514811,-0.787154,-1.801768,-1.870289,-0.957427,-1.366187,0.809174,0.491586
6,0.173052,-0.590272,-0.097151,1.071930,0.957427,-0.105091,0.809174,-1.489962
7,0.117479,-0.191796,0.459739,1.239237,0.957427,-0.105091,-1.132843,0.067992
8,0.052004,0.913860,1.496758,1.447981,0.957427,1.156004,-1.132843,-0.290239
9,-0.150580,-0.702183,-0.291499,0.002865,0.957427,1.156004,0.809174,-0.015020
10,-0.182183,-0.338069,0.386956,0.456663,0.957427,1.156004,-1.132843,1.826459
11,-0.517254,0.355057,1.009449,-0.631881,0.957427,1.156004,-1.132843,0.457500

In [62]:
scaled_stand_no0 = norm.standardized(feature_range=(0.1,'+inf'))
scaled_stand_no0

,0,1,2,3,4,5,6,7
0,1.706779,0.299678,1.071273,2.064882,0.100000,1.361095,0.100000,0.100000
1,4.082039,2.249639,2.500757,2.219698,0.100000,1.361095,2.042017,1.629131
2,2.340191,3.427550,2.898587,1.925961,0.100000,0.100000,2.042017,1.234914
3,0.306561,0.100000,0.674720,1.022165,0.100000,1.361095,2.042017,1.693316
4,1.660781,0.820554,1.201017,0.902230,0.100000,0.100000,2.042017,3.117085
5,0.100000,0.324218,0.100000,0.100000,0.100000,0.100000,2.042017,2.256139
6,1.787863,0.521101,1.804617,3.042218,2.014854,1.361095,2.042017,0.274591
7,1.732290,0.919577,2.361507,3.209525,2.014854,1.361095,0.100000,1.832544
8,1.666815,2.025232,3.398526,3.418270,2.014854,2.622191,0.100000,1.474313
9,1.464231,0.409190,1.610269,1.973154,2.014854,2.622191,2.042017,1.749532
10,1.432628,0.773304,2.288724,2.426952,2.014854,2.622191,0.100000,3.591012
11,1.097557,1.466430,2.911217,1.338407,2.014854,2.622191,0.100000,2.222053

In [63]:
print(scaled_stand_no0.to_numpy().min())

0.1

In [64]:
scaled_target_no0 = norm.target(feature_range=(0.1, 1))

In [65]:
scaled_target_no0

           0         1         2         3     4    5    6         7
0   0.478311  0.164937  0.595492  0.669846  0.55  0.4  0.1  0.692806
1   1.000000  0.685527  0.843956  0.707613  0.55  0.4  0.4  0.827363
2   0.617430  1.000000  0.913104  0.635957  0.55  0.1  0.4  0.792673
3   0.170775  0.111628  0.526566  0.415479  0.55  0.4  0.4  0.833011
4   0.468209  0.303998  0.618043  0.386221  0.55  0.1  0.4  0.958296
5   0.125407  0.171489  0.426672  0.190520  0.55  0.1  0.4  0.882537
6   0.496120  0.224051  0.722957  0.908264  1.00  0.4  0.4  0.708169
7   0.483914  0.330434  0.819752  0.949077  1.00  0.4  0.1  0.845262
8   0.469534  0.625617  1.000000  1.000000  1.00  0.7  0.1  0.813740
9   0.425039  0.194174  0.689177  0.647469  1.00  0.7  0.4  0.837958
10  0.418098  0.291383  0.807101  0.758171  1.00  0.7  0.1  1.000000
11  0.344505  0.476430  0.915299  0.492625  1.00  0.7  0.1  0.879537

## test aggregation functions

In [66]:
agg = Aggregation(weights)

In [67]:
scores_weighted_sum_standardized = agg.weighted_sum(scaled_stand_no0)
scores_weighted_sum_standardized

0     0.850463
1     2.023047
2     1.758652
3     0.912484
4     1.242960
5     0.640297
6     1.606044
7     1.691424
8     2.090025
9     1.735680
10    1.906208
11    1.721589
dtype: float64

In [68]:
scores_weighted_sum_target = agg.weighted_sum(scaled_target)
scores_weighted_sum_target

0     0.456424
1     0.676807
2     0.626146
3     0.425932
4     0.473096
5     0.355828
6     0.607445
7     0.616055
8     0.713611
9     0.611727
10    0.634344
11    0.613550
dtype: float64

In [69]:
scores_weighted_sum_rank = agg.weighted_sum(scaled_rank)
scores_weighted_sum_rank

0     4.1875
1     7.9375
2     6.9375
3     4.0625
4     5.5625
5     3.8125
6     7.1875
7     7.8125
8     8.5000
9     7.0000
10    7.6250
11    7.3750
dtype: float64

In [70]:
scores_weighted_sum_minmax = agg.weighted_sum(scaled_minmax_01)
scores_weighted_sum_minmax

0     0.231264
1     0.618832
2     0.535798
3     0.307552
4     0.381037
5     0.210626
6     0.562986
7     0.534401
8     0.670715
9     0.616298
10    0.612725
11    0.561811
dtype: float64

In [71]:
scores_geom_standardized = agg.geometric(scaled_stand_no0)
scores_geom_standardized

0     0.445081
1     1.480497
2     1.015303
3     0.561993
4     0.744109
5     0.249335
6     1.294087
7     1.252790
8     1.533273
9     1.564715
10    1.359590
11    1.283443
dtype: float64

In [72]:
scores_harm_rank = agg.harmonic(scaled_rank)
scores_harm_rank

0     22.169072
1     54.521651
2     37.549845
3     20.891192
4     31.261322
5     14.780059
6     44.146833
7     54.132539
8     53.630159
9     50.348658
10    49.697048
11    44.745882
dtype: float64

In [73]:
scores_harm_minmax = agg.harmonic(scaled_minmax_no0)
scores_harm_minmax

0     1.428887
1     3.181671
2     2.204279
3     1.669126
4     1.917019
5     1.089368
6     3.145036
7     2.864378
8     3.197721
9     3.903373
10    2.930487
11    2.883525
dtype: float64