In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import pytest
import unittest
from pandas.testing import assert_frame_equal

from mcda.mcda_run import main
from mcda.utils import *
from mcda.configuration.config import Config
from mcda.utility_functions.normalization import Normalization

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
input_matrix = read_matrix("tests/resources/input_matrix_without_uncert.csv")

In [3]:
input_matrix

  alternatives  ind1  ind2  ind3  ind4  ind5  ind6
0         alt1  15.2   8.2  0.04  0.02  24.5  6.20
1         alt2  12.4   8.7  0.05  0.02  24.5  4.80
2         alt3   1.6   2.0  0.11  0.14  14.0  0.60
3         alt4  39.7  14.0  0.01  0.02  26.5  4.41

In [4]:
imd = input_matrix.drop(input_matrix.columns[0],axis=1)

In [5]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0  15.2   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [6]:
polarities = ("-","-","+","+","+","+")

In [7]:
indeces_plus = [i for i, e in enumerate(polarities) if e == "+"]
indeces_minus = [i for i, e in enumerate(polarities) if e == "-"]

In [8]:
print(type(indeces_plus))
print(indeces_minus)

<class 'list'>
[0, 1]

In [9]:
# from input matrix select columns that go into minmax and the ones that go into reversed minmax
plus_pol = imd.iloc[:, indeces_plus]
minus_pol = imd.iloc[:, indeces_minus]

In [10]:
plus_pol

   ind3  ind4  ind5  ind6
0  0.04  0.02  24.5  6.20
1  0.05  0.02  24.5  4.80
2  0.11  0.14  14.0  0.60
3  0.01  0.02  26.5  4.41

In [11]:
plus_pol.mean(axis=0)

ind3     0.0525
ind4     0.0500
ind5    22.3750
ind6     4.0025
dtype: float64

In [12]:
plus_pol-plus_pol.mean(axis=0)

     ind3  ind4   ind5    ind6
0 -0.0125 -0.03  2.125  2.1975
1 -0.0025 -0.03  2.125  0.7975
2  0.0575  0.09 -8.375 -3.4025
3 -0.0425 -0.03  4.125  0.4075

## rank

In [ ]:
imd

In [ ]:
-1*imd

In [ ]:
norm = Normalization(imd, polarities)
indicators_scaled_rank = norm.rank()

In [ ]:
indicators_scaled_rank

In [ ]:
# if you save the file it might compromise the unit tests!
#indicators_scaled_rank.to_csv('tests/resources/normalization/res_rank.csv',sep=';',decimal='.')

## standardized

In [ ]:
indicators_scaled_standard_plus = (plus_pol - plus_pol.mean(axis=0))/plus_pol.std(axis=0)

In [ ]:
indicators_scaled_standard_plus

In [ ]:
norm = Normalization(imd,polarities)
indicators_scaled_stand = norm.standardized()

In [ ]:
indicators_scaled_stand

In [ ]:
# if you save the file it might compromise the unit tests!
#indicators_scaled_stand.to_csv('tests/resources/normalization/res_standardized.csv',sep=';',decimal='.')

## minmax

#### identify positive and negative polarities

In [ ]:
x_plus = plus_pol.values # returns a numpy array
x_minus = minus_pol.values
x_minus

In [ ]:
x_minus_test = minus_pol.to_numpy()
x_minus_test

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1), copy=False)
x_scaled = min_max_scaler.fit_transform(x_plus)

In [ ]:
x_scaled

In [ ]:
indicators_scaled_minmax_plus = pd.DataFrame(x_scaled)

In [ ]:
indicators_scaled_minmax_plus

In [ ]:
def reversed_minmax_scaler(data):
    """
    Rescales the given data to the range [0, 1] in a reversed scale
    where the smallest the value the better, using MinMaxScaler.

    Args:
    - data: A list or numpy array of numeric data to be scaled.

    Returns:
    - scaled_data: The scaled data as a numpy array.
    """
    import numpy as np
    
    # Convert data to numpy array
    data = np.array(data)
    print(data)
    print('-----')
    
    # Calculate the maximum and minimum values
    max_val = np.max(data)
    max_val_test = np.max(data, axis=0)
    
    #print(max_val)
    #print('-----')
    print(max_val_test)
    print('-----')
    
    min_val = np.min(data)
    min_val_test = np.min(data, axis=0)
    
    # Rescale the data to the range [0, 1]
    scaled_data = (data - min_val) / (max_val - min_val)
    scaled_data_test = (data - min_val_test) / (max_val_test - min_val_test)#*(1-0.1) + 0.1
    
    print("scaled_data")
    print('-----')
    print(scaled_data_test)
    
    return scaled_data_test

In [ ]:
indicators_scaled_minmax_minus = reversed_minmax_scaler(x_minus)

In [ ]:
(8.2-2)/(14-2)

In [ ]:
indicators_scaled_minmax_minus = pd.DataFrame(indicators_scaled_minmax_minus)

In [ ]:
indicators_scaled_minmax_minus

In [ ]:
indicators_scaled_minmax = pd.DataFrame(index=range(4),columns=range(6))
indicators_scaled_minmax.shape

In [ ]:
indicators_scaled_minmax_plus

In [ ]:
# merge back the plus and minus together
indicators_scaled_minmax = pd.DataFrame(columns=range(6))
for i,index_p in enumerate(indeces_plus): indicators_scaled_minmax.iloc[:, index_p] = indicators_scaled_minmax_plus.iloc[:, i]
for j, index_n in enumerate(indeces_minus): indicators_scaled_minmax.iloc[:, index_n]=indicators_scaled_minmax_minus.loc[:,j]

In [ ]:
indicators_scaled_minmax

In [ ]:
imd

In [17]:
# test class
norm = Normalization(imd, polarities)
test_res_no0 = norm.minmax(feature_range=(0.1, 1))
test_res_no0

          0       1     2    3      4         5
0  0.678740  0.5350  0.37  0.1  0.856  1.000000
1  0.744882  0.4975  0.46  0.1  0.856  0.775000
2  1.000000  1.0000  1.00  1.0  0.100  0.100000
3  0.100000  0.1000  0.10  0.1  1.000  0.712321

In [18]:
# if you save the file it might compromise the unit tests!
#test_res_no0.to_csv('tests/resources/normalization/res_minmax_no0.csv',sep=';',decimal='.')

## target

In [ ]:
imd

In [ ]:
norm=Normalization(imd, polarities)
res_target_01 = norm.target(feature_range=(0, 1))
res_target_no0 = norm.target(feature_range=(0.1, 1))

In [ ]:
# if you save the file it might compromise the unit tests!
#res_target_01.to_csv('tests/resources/normalization/res_target_01.csv',sep=';',decimal='.') 
#res_target_no0.to_csv('tests/resources/normalization/res_target_no0.csv',sep=';',decimal='.')

In [ ]:
res_target_01

In [ ]:
res_target_no0

In [ ]:
col = imd.iloc[:,2]
col1 = (col/max(col))*(1-0.1) + 0.1

In [ ]:
col1

## assert two df are the same

In [ ]:
input_matrix = read_matrix("tests/resources/input_matrix_without_uncert.csv")
input_matrix = input_matrix.drop(input_matrix.columns[0],axis=1)

In [ ]:
expected_res = read_matrix('tests/resources/normalization/res_minmax_no0.csv')

In [ ]:
norm = Normalization(input_matrix)
res = norm.minmax(feature_range=(0, 1))

In [ ]:
print(type(input_matrix))
print(type(expected_res))
print(type(res))

In [ ]:
res

In [ ]:
res.columns = res.columns.astype('str')

In [ ]:
res

In [ ]:
expected_res

In [ ]:
assert_frame_equal(res, expected_res, check_like=True)

In [ ]:
isinstance(res, pd.DataFrame)

In [ ]:
feature_range=(0, 1)

In [ ]:
lista = (5,4,3,2)
sum(lista)

In [ ]:
lista_corr = [val/sum(lista) for val in lista]

In [ ]:
lista_corr

In [ ]:
sum(lista_corr)

In [ ]:
round(lista_corr,2)

In [ ]:
config = {
  "input_matrix_path": "tests/resources/input_matrix_without_uncert.csv",
  "marginal_distribution_for_each_indicator": ["exact", "exact", "exact", "exact", "exact", "exact"],
  "polarity_for_each_indicator": ["-","-","+","+","+","+"],
  "monte_carlo_runs": 0,
  "no_cores": 1,
  "weight_for_each_indicator" : [0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
  "output_file_path": "/path/to/output.csv"
}

In [ ]:
type(config)

In [ ]:
import copy
test_config = copy.deepcopy(config)

In [ ]:
type(test_config)

In [ ]:
import unittest
import pytest
#isinstance(config, dict)
isinstance(test_config, dict)

### summing columns given a row

In [43]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0  15.2   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [25]:
imd.sum(axis=1)

0    54.16
1    50.47
2    18.45
3    84.64
dtype: float64

In [26]:
15.2+8.2+0.04+0.02+24.5+6.2

54.16

In [44]:
weights=(1,0,1,0,1,10)

In [32]:
test = imd*weights

In [33]:
test.sum(axis=1)

0    101.74
1     84.95
2     21.71
3    110.31
dtype: float64

In [31]:
(imd*weights).sum(axis=1)

0    101.74
1     84.95
2     21.71
3    110.31
dtype: float64

In [47]:
(imd**weights).product(axis=1)

0    1.250220e+09
1    9.862117e+07
2    1.489887e-02
3    2.926997e+07
dtype: float64

In [46]:
15.2*1.0*0.04*1.0*24.5*8.392994e+07

1250220386.24

In [48]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0  15.2   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [49]:
imd.iloc[0,0]=0

In [50]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0   0.0   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [51]:
imd.values

array([[0.00e+00, 8.20e+00, 4.00e-02, 2.00e-02, 2.45e+01, 6.20e+00],
       [1.24e+01, 8.70e+00, 5.00e-02, 2.00e-02, 2.45e+01, 4.80e+00],
       [1.60e+00, 2.00e+00, 1.10e-01, 1.40e-01, 1.40e+01, 6.00e-01],
       [3.97e+01, 1.40e+01, 1.00e-02, 2.00e-02, 2.65e+01, 4.41e+00]])

In [66]:
any(x==0 for x in imd.values)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [60]:
for x in imd.values: print(x)

[0.00e+00 8.20e+00 4.00e-02 2.00e-02 2.45e+01 6.20e+00]
[1.24e+01 8.70e+00 5.00e-02 2.00e-02 2.45e+01 4.80e+00]
[ 1.6   2.    0.11  0.14 14.    0.6 ]
[3.97e+01 1.40e+01 1.00e-02 2.00e-02 2.65e+01 4.41e+00]

In [69]:
(imd == 100).any().any()

False

In [74]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0   0.0   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [78]:
weights=(1,2,1,2,1,10)

In [82]:
1/0.05

20.0

In [79]:
weights/imd

       ind1      ind2        ind3        ind4      ind5       ind6
0       inf  0.243902   25.000000  100.000000  0.040816   1.612903
1  0.080645  0.229885   20.000000  100.000000  0.040816   2.083333
2  0.625000  1.000000    9.090909   14.285714  0.071429  16.666667
3  0.025189  0.142857  100.000000  100.000000  0.037736   2.267574

In [83]:
(weights/imd).sum(axis=1)

0           inf
1    122.434680
2     41.739719
3    202.473356
dtype: float64

In [75]:
scores = 6/((weights/imd).sum(axis=1))

In [76]:
scores

0    0.000000
1    0.270212
2    0.226809
3    0.058634
dtype: float64

In [86]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0   0.0   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [85]:
imd.min(axis=1)

0    0.00
1    0.02
2    0.11
3    0.01
dtype: float64

In [87]:
imd

   ind1  ind2  ind3  ind4  ind5  ind6
0   0.0   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41

In [95]:
test_df = pd.concat([imd,imd], axis=1)

In [96]:
test_df

   ind1  ind2  ind3  ind4  ind5  ind6  ind1  ind2  ind3  ind4  ind5  ind6
0   0.0   8.2  0.04  0.02  24.5  6.20   0.0   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41  39.7  14.0  0.01  0.02  26.5  4.41

In [99]:
test_df.columns=['JPM', 'WFC', 'BAC', 'C', 'STI', 'PNC', 'CMA','WFC', 'BAC', 'C', 'STI', 'PNC']

In [100]:
test_df

    JPM   WFC   BAC     C   STI   PNC   CMA   WFC   BAC     C   STI   PNC
0   0.0   8.2  0.04  0.02  24.5  6.20   0.0   8.2  0.04  0.02  24.5  6.20
1  12.4   8.7  0.05  0.02  24.5  4.80  12.4   8.7  0.05  0.02  24.5  4.80
2   1.6   2.0  0.11  0.14  14.0  0.60   1.6   2.0  0.11  0.14  14.0  0.60
3  39.7  14.0  0.01  0.02  26.5  4.41  39.7  14.0  0.01  0.02  26.5  4.41

In [102]:
test_df_max_rank = test_df.rank(method='max')
test_df_pct_rank = test_df.rank(pct=True)

In [103]:
test_df_max_rank

   JPM  WFC  BAC    C  STI  PNC  CMA  WFC  BAC    C  STI  PNC
0  1.0  2.0  2.0  3.0  3.0  4.0  1.0  2.0  2.0  3.0  3.0  4.0
1  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0  3.0
2  2.0  1.0  4.0  4.0  1.0  1.0  2.0  1.0  4.0  4.0  1.0  1.0
3  4.0  4.0  1.0  3.0  4.0  2.0  4.0  4.0  1.0  3.0  4.0  2.0

In [104]:
test_df_pct_rank

    JPM   WFC   BAC    C    STI   PNC   CMA   WFC   BAC    C    STI   PNC
0  0.25  0.50  0.50  0.5  0.625  1.00  0.25  0.50  0.50  0.5  0.625  1.00
1  0.75  0.75  0.75  0.5  0.625  0.75  0.75  0.75  0.75  0.5  0.625  0.75
2  0.50  0.25  1.00  1.0  0.250  0.25  0.50  0.25  1.00  1.0  0.250  0.25
3  1.00  1.00  0.25  0.5  1.000  0.50  1.00  1.00  0.25  0.5  1.000  0.50

In [107]:
type(test_df_pct_rank.columns.tolist())

list

In [110]:
from unittest import TestCase
col_names = ['JPM', 'WFC', 'BAC', 'C', 'STI', 'PNC', 'CMA','WFC', 'BAC', 'C', 'STI', 'PNC']
print(type(col_names))
TestCase.assertListEqual(test_df_pct_rank.columns.tolist(), col_names)

<class 'list'>

TypeError: assertListEqual() missing 1 required positional argument: 'list2'

In [113]:
test = (7.75,7.75,9.0,5.5)
test_df = pd.DataFrame(test)

In [114]:
test_df

      0
0  7.75
1  7.75
2  9.00
3  5.50

In [115]:
test_df_pct_rank = test_df.rank(pct=True)

In [116]:
test_df_pct_rank

       0
0  0.625
1  0.625
2  1.000
3  0.250

In [129]:
with open('/Users/flaminia/Desktop/MCDA_no_var_tests/normalized_scores.csv', mode="rb") as f:
    scores = pd.read_csv(f)

In [170]:
scores.columns

Index(['Alternatives', 'ws-stand', 'ws-minmax', 'ws-target', 'ws-rank',
       'geom-stand', 'geom-minmax', 'geom-target', 'geom-rank', 'harm-stand',
       'harm-minmax', 'harm-target', 'harm-rank', 'min-stand', 'min-minmax',
       'min-target', 'min-rank'],
      dtype='object')

In [171]:
import plotly.graph_objects as go

no_of_pairs = scores.shape[1]-1

fig = go.Figure(layout_yaxis_range=[-3,3], layout_yaxis_title="MCDA normalized score")

i=0
combinations = scores.columns
while i <= no_of_pairs-1:
    fig.add_trace(go.Bar(
        name=combinations[i+1],
        x=scores['Alternatives'][:].values.tolist(), 
        y=scores.iloc[:,i+1],       
    ))
    i=i+1

fig.update_layout(barmode='group', height=600, width=1000, 
                  title='<b>MCDA analysis<b>',
                  title_font_size=22,
                  
                  xaxis=dict(
                  tickmode="array",
                  tickvals=np.arange(0, len(scores['Alternatives'][:])),
                  ticktext=scores['Alternatives'][:],
                  tickangle=45
                            ),
                  
                  yaxis_range = [-1.5,1.5]
                  
                 )
                  
fig.show()

In [169]:
!pip install -U kaleido

Requirement already satisfied: kaleido in /Users/flaminia/mambaforge/lib/python3.9/site-packages (0.2.1)

In [177]:
import kaleido
#import plotly.io as pio
#pio.kaleido.scope.default_format = "svg"

In [178]:
fig.write_image("./fig1.png")

ValueError:
Image export using the "kaleido" engine requires the kaleido package,
which can be installed using pip:
    $ pip install -U kaleido

In [176]:
! pip freeze

affine==2.3.0
anyio==3.6.2
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
basemap==1.3.6
basemap-data==1.3.2
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach==5.0.1
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1668499380737/work
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1666839229396/work
boxsdk==3.1.0
brotlipy==0.7.0
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1666892118051/work
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1625835350093/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
comm==0.1.2
conda==4.10.3
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1618231726924/work
confection @ file:///Users/runner/miniforge3/conda-bld/confection_1667038815204/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1667248076842/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851494586/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1666909770670/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dbfread==2.0.4
debugpy==1.6.4
decorator==5.1.0
defusedxml==0.7.1
earthpy==0.9.4
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fastai==2.7.10
fastcore==1.5.27
fastdownload==0.0.7
fastjsonschema==2.16.2
fastprogress @ file:///home/jhoward/mambaforge/conda-bld/fastprogress_1658473398631/work
Fiona==1.8.20
Flask==2.0.2
fonttools==4.28.2
fqdn==1.5.1
GDAL==3.3.2
geographiclib==2.0
geopandas==0.10.2
geopy==2.3.0
gevent==21.8.0
greenlet==1.1.2
h11==0.12.0
htmlmin==0.1.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
ijson==2.6.1
ImageHash==4.3.1
imageio==2.13.0
importlib-metadata==5.2.0
iniconfig==2.0.0
install==1.3.5
ipykernel==6.19.3
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.0.1
Janitor==0.1.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.0.1
jsonpickle==2.0.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.1
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kaleido==0.2.1
kiwisolver==1.3.2
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
linkedin-scraper==2.9.0
lxml==4.6.4
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba_1629310526029/work
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mbtools==0.1.1
mdbtools==0.3.14
meza==0.46.0
missingno==0.5.0
mistune==2.0.4
multimethod==1.6
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1666946231082/work
natsort==8.0.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.6
networkx==2.6.3
notebook==6.5.2
notebook_shim==0.2.2
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1666816696240/work
numpy==1.23.5
openpyxl==3.1.2
outcome==1.1.0
OWSLib==0.28.1
packaging==21.3
pandas==1.3.4
pandas-access==0.0.1
pandas-flavor==0.2.0
pandas-profiling==3.6.6
pandocfilters==1.5.0
parso==0.8.3
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1670689864140/work
patsy==0.5.3
pdf2image==1.16.3
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.6.0
plotly==5.13.0
pluggy==1.0.0
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1666991344901/work
progressbar==2.5
prometheus-client==0.15.0
prompt-toolkit==3.0.23
psutil==5.9.4
ptyprocess==0.7.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1624996792650/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1666755013609/work
Pygments==2.10.0
pygogo==1.3.0
pyjanitor==0.22.0
PyJWT==2.3.0
pymongo==4.2.0
PyMuPDF==1.22.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==3.0.6
PyPDF2==3.0.1
pyproj==3.3.0
pyrsistent==0.19.2
pyshp==2.3.1
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291460269/work
pystac==1.6.1
pytesseract==0.3.10
pytest==7.2.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.4
python-qt==0.50
python-slugify==1.2.6
pytz==2021.3
pyvis==0.1.9
PyWavelets==1.2.0
PyYAML==5.4.1
pyzmq==24.0.1
raster2xyz==0.1.3
rasterio==1.2.10
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rioxarray==0.13.3
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1624999868738/work
scikit-image==0.18.3
scikit-learn==1.2.0
scipy==1.7.3
seaborn==0.11.2
selenium==4.1.0
Send2Trash==1.8.0
setuptools-scm==6.3.2
Shapely==1.8.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1659638615822/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
sniffio==1.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1668615326297/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1660748275723/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1661365735520/work
SQLAlchemy==1.4.40
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1666955730822/work
statsmodels==0.13.5
tangled-up-in-unicode==0.1.0
tenacity==8.1.0
terminado==0.17.1
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1668511895179/work
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.2.1
tomli==1.2.2
torch==1.13.1
torchvision==0.14.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1666788824966/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1628985621016/work
traitlets==5.8.0
trio==0.19.0
trio-websocket==0.9.2
typeguard==2.13.3
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions==4.0.0
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239959992/work
Unidecode==1.3.4
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
visions==0.7.5
Wand==0.6.11
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.0.2
widgetsnbextension==4.0.5
wrapt==1.13.3
wsgi-oauth2==0.2.2
wsproto==1.0.0
xarray==0.20.1
xlrd==2.0.1
ydata-profiling==4.1.0
zipp==3.11.0
zope.event==4.5.0
zope.interface==5.4.0

In [161]:
type(fig)

plotly.graph_objs._figure.Figure

In [134]:
no_of_pairs

16

In [141]:
scores['Alternatives'][:].values.tolist()

['alt1', 'alt2', 'alt3', 'alt4']

In [138]:
scores.iloc[:,0]

0    alt1
1    alt2
2    alt3
3    alt4
Name: Alternatives, dtype: object

In [145]:
scores['Alternatives'][:]

0    alt1
1    alt2
2    alt3
3    alt4
Name: Alternatives, dtype: object