In [1]:
import pandas as pd
import numpy as np

from mcda.mcda_run import main
from mcda.utils import *
from mcda.configuration.config import Config
from mcda.utility_functions.normalization import Normalization
from mcda.utility_functions.aggregation import Aggregation

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

#### test with test df - uncomment

In [2]:
#polarities = ("+","-")

In [3]:
#d = {'col1': [1, 2, 3], 'col3': [100, 200, 300]}
#df = pd.DataFrame(data=d)
#df
#input_matrix = df

#### test with test example - uncomment

In [4]:
input_matrix = read_matrix("/Users/flaminia/Documents/work/MCDA/Examples/exp2_12_alternatives.csv")

/Users/flaminia/Documents/work/MCDTool/mcda/utils.py:15: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test = pd.read_csv(fp, sep="[,;:]", decimal='.')

In [5]:
imd = input_matrix.drop(input_matrix.columns[0],axis=1)

In [6]:
imd.head(3)

,productivity,timber amount,carbon storage,species suitability,biodiversity,disturbances,management cost,groundwater
0,6.577442,24.845319,107.507196,0.513059,1.0,2.0,3.0,160.369958
1,15.647698,224.026542,161.416472,0.547062,1.0,2.0,2.0,196.771264
2,8.996213,344.345764,176.419571,0.482547,1.0,3.0,2.0,187.386841

In [7]:
polarities = ("+","+","+","+","+","-","-","+")

In [8]:
weights = (0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833)

## test normalization functions

In [9]:
norm = Normalization(imd, polarities)

#### minmax_01

In [10]:
scaled_minmax_01 = norm.minmax(feature_range=(0, 1))
scaled_minmax_01.head(3)

          0         1         2         3    4    5    6         7
0  0.403506  0.060007  0.294457  0.592141  0.0  0.5  0.0  0.000000
1  1.000000  0.646012  0.727827  0.638796  0.0  0.5  1.0  0.438020
2  0.562574  1.000000  0.848436  0.550275  0.0  0.0  1.0  0.325096

In [11]:
print(scaled_minmax_01.to_numpy().min())
print(scaled_minmax_01.to_numpy().max())

0.0
1.0000000000000002

#### minmax_no0

In [12]:
scaled_minmax_no0 = norm.minmax(feature_range=(0.1, 1))
scaled_minmax_no0.head(3)

          0         1         2         3    4     5    6         7
0  0.463156  0.154007  0.365011  0.632927  0.1  0.55  0.1  0.100000
1  1.000000  0.681411  0.755045  0.674917  0.1  0.55  1.0  0.494218
2  0.606316  1.000000  0.863592  0.595248  0.1  0.10  1.0  0.392586

In [13]:
print(scaled_minmax_no0.to_numpy().min())
print(scaled_minmax_no0.to_numpy().max())

0.09999999999999998
1.0

#### rank

In [14]:
scaled_rank = norm.rank()
scaled_rank.head(3)

      0     1     2    3    4    5    6    7
0   8.0   2.0   3.0  7.0  3.5  6.0  3.0  1.0
1  12.0  11.0   9.0  8.0  3.5  6.0  9.0  5.0
2  11.0  12.0  10.0  5.0  3.5  2.0  9.0  3.0

In [15]:
print(scaled_rank.to_numpy().min())
print(scaled_rank.to_numpy().max())

1.0
12.0

#### standardized

In [16]:
scaled_stand_any = norm.standardized(feature_range=('-inf','+inf'))
scaled_stand_any.head(3)

,0,1,2,3,4,5,6,7
0,0.091967,-0.811695,-0.830495,0.094594,-0.957427,-0.105091,-1.132843,-1.664553
1,2.467228,1.138266,0.598990,0.249410,-0.957427,-0.105091,0.809174,-0.135421
2,0.725379,2.316177,0.996819,-0.044327,-0.957427,-1.366187,0.809174,-0.529638

In [17]:
print(scaled_stand_any.to_numpy().min())
print(scaled_stand_any.to_numpy().max())
print(scaled_stand_any.to_numpy().mean())
print(scaled_stand_any.to_numpy().std())

-1.8702885822299633
2.467227664076385
-2.1279274638648835e-16
0.9574271077563381

#### standardized no 0 - does not have mean 0 and std 1!

In [18]:
scaled_stand_no0 = norm.standardized(feature_range=(0.1,'+inf'))
scaled_stand_no0.head(3)

          0         1         2         3    4         5         6         7
0  1.706779  0.299678  1.071273  2.064882  0.1  1.361095  0.100000  0.100000
1  4.082039  2.249639  2.500757  2.219698  0.1  1.361095  2.042017  1.629131
2  2.340191  3.427550  2.898587  1.925961  0.1  0.100000  2.042017  1.234914

In [19]:
print(scaled_stand_no0.to_numpy().min())
print(scaled_stand_no0.to_numpy().max())
print(scaled_stand_no0.to_numpy().mean())
print(scaled_stand_no0.to_numpy().std())

0.1
4.082038963125437
1.514906186645644
1.0134552445816336

#### target

In [20]:
scaled_target = norm.target(feature_range=(0, 1))

In [21]:
print(scaled_target.to_numpy().min())
print(scaled_target.to_numpy().max())

0.0
1.0

#### target no 0

In [22]:
scaled_target_no0 = norm.target(feature_range=(0.1, 1))

In [23]:
scaled_target_no0.head(3)

          0         1         2         3     4    5    6         7
0  0.478311  0.164937  0.595492  0.669846  0.55  0.4  0.1  0.692806
1  1.000000  0.685527  0.843956  0.707613  0.55  0.4  0.4  0.827363
2  0.617430  1.000000  0.913104  0.635957  0.55  0.1  0.4  0.792673

In [24]:
print(scaled_target_no0.to_numpy().min())
print(scaled_target_no0.to_numpy().max())

0.1
1.0

## test aggregation functions

In [25]:
agg = Aggregation(weights)

#### ws - standardized

In [26]:
scores_weighted_sum_standardized = agg.weighted_sum(scaled_stand_no0)
scores_weighted_sum_standardized.head(3)

0    0.850463
1    2.023047
2    1.758652
dtype: float64

In [27]:
print(scores_weighted_sum_standardized.to_numpy().min())
print(scores_weighted_sum_standardized.to_numpy().max())

0.6402967161868066
2.090025141676184

#### ws - target

In [28]:
scores_weighted_sum_target = agg.weighted_sum(scaled_target)
scores_weighted_sum_target.head(3)

0    0.396027
1    0.640897
2    0.584606
dtype: float64

In [29]:
print(scores_weighted_sum_target.to_numpy().min())
print(scores_weighted_sum_target.to_numpy().max())

0.28425340308299735
0.681790264936132

#### ws - rank

In [30]:
scores_weighted_sum_rank = agg.weighted_sum(scaled_rank)
scores_weighted_sum_rank.head(3)

0    4.1875
1    7.9375
2    6.9375
dtype: float64

In [31]:
print(scores_weighted_sum_rank.to_numpy().min())
print(scores_weighted_sum_rank.to_numpy().max())

3.8125
8.5

#### ws -minmax

In [32]:
scores_weighted_sum_minmax = agg.weighted_sum(scaled_minmax_01)
scores_weighted_sum_minmax.head(3)

0    0.231264
1    0.618832
2    0.535798
dtype: float64

In [33]:
print(scores_weighted_sum_minmax.to_numpy().min())
print(scores_weighted_sum_minmax.to_numpy().max())

0.2106260187790405
0.6707145049121476

#### geom - stand

In [34]:
scores_geom_standardized = agg.geometric(scaled_stand_no0)
scores_geom_standardized.head(3)

0    0.445081
1    1.480497
2    1.015303
dtype: float64

In [35]:
print(scores_geom_standardized.to_numpy().min())
print(scores_geom_standardized.to_numpy().max())

0.24933476179485967
1.564715379935943

#### harm - rank

In [36]:
scaled_rank

       0     1     2     3    4     5    6     7
0    8.0   2.0   3.0   7.0  3.5   6.0  3.0   1.0
1   12.0  11.0   9.0   8.0  3.5   6.0  9.0   5.0
2   11.0  12.0  10.0   5.0  3.5   2.0  9.0   3.0
3    2.0   1.0   2.0   3.0  3.5   6.0  9.0   6.0
4    6.0   7.0   4.0   2.0  3.5   2.0  9.0  11.0
5    1.0   3.0   1.0   1.0  3.5   2.0  9.0  10.0
6   10.0   5.0   6.0  10.0  9.5   6.0  9.0   2.0
7    9.0   8.0   8.0  11.0  9.5   6.0  3.0   8.0
8    7.0  10.0  12.0  12.0  9.5  10.5  3.0   4.0
9    5.0   4.0   5.0   6.0  9.5  10.5  9.0   7.0
10   4.0   6.0   7.0   9.0  9.5  10.5  3.0  12.0
11   3.0   9.0  11.0   4.0  9.5  10.5  3.0   9.0

In [37]:
scores_harm_rank = agg.harmonic(scaled_rank)
scores_harm_rank

no_indicators 8

0     22.169072
1     54.521651
2     37.549845
3     20.891192
4     31.261322
5     14.780059
6     44.146833
7     54.132539
8     53.630159
9     50.348658
10    49.697048
11    44.745882
dtype: float64

In [38]:
print(scores_harm_rank.to_numpy().min())
print(scores_harm_rank.to_numpy().max())

14.780058651026398
54.521650941946596

#### harm -minmax

In [39]:
scores_harm_minmax = agg.harmonic(scaled_minmax_no0)
scores_harm_minmax.head(3)

no_indicators 8

0    1.428887
1    3.181671
2    2.204279
dtype: float64

In [40]:
print(scores_harm_minmax.to_numpy().min())
print(scores_harm_minmax.to_numpy().max())

1.0893682617961429
3.9033729927284324

#### test

In [41]:
d = {'col1': [2, 4, 8], 'col2': [4, 2, 4], 'col3': [8, 8, 2]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     2     4     8
1     4     2     8
2     8     4     2

In [48]:
w = (0.83,0.83,0.83)
w = [val/sum(w) for val in w]
print(w)
agg = Aggregation(w)

[0.33333333333333337, 0.33333333333333337, 0.33333333333333337]

In [49]:
test_harmonic = agg.harmonic(df)

no_indicators 3

In [50]:
test_harmonic

0    10.285714
1    10.285714
2    10.285714
dtype: float64

In [51]:
scores = 3/((w/df).sum(axis=1))

In [52]:
scores

0    10.285714
1    10.285714
2    10.285714
dtype: float64

In [55]:
w/df

       col1      col2      col3
0  0.166667  0.083333  0.041667
1  0.083333  0.166667  0.041667
2  0.041667  0.083333  0.166667

In [56]:
((w/df).sum(axis=1))

0    0.291667
1    0.291667
2    0.291667
dtype: float64

In [57]:
0.166667+0.083333+0.041667

0.291667

In [58]:
3/0.291667

10.285702530625679